*.bak
*.tar.gz
*.pyc
_pycache_
__pycache__

IS-IN-MODE-DEV
IS-IN-MODE-PROD

docker/docker-compose.yml
docker/build/etc/odoo.*.conf
docker/.env
docker/docker-compose.override.yml
docker/docker-compose-traefik.yml

docker/build/customs_installs/customs_installs.sh
docker/build/customs_installs/requirements.txt

docker/build/container_volumes/*/*

volumes/*
!volumes/addons_me_default

!.gitkeep
